@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=Inter&family=Nunito+Sans:wght@400;700&display=swap");

/* hello world */

@import url("antd/dist/antd.min.css");
@import url("react-phone-input-2/lib/style.css");
@import url("react-photo-view/dist/react-photo-view.css");
@import url("react-vis/dist/style");

/* hello */

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply bg-background font-body;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid rgba(143, 255, 68, 0.836);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail:after,
.ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
    @apply !bg-tertiary-high;
}

.ant-steps-item-title {
    font-size: 14px !important;
    word-break: keep-all;
    opacity: 0.7;
}

.ant-steps-item-description {
    font-size: 12px !important;
    opacity: 0.7;
}

.step-done {
    font-size: 1.25rem;
    position: absolute;
    top: -6px;
    left: -9px;
}

.react-tel-input .flag-dropdown {
    background: none;
    border: none;
}

.react-tel-input .form-control {
    width: 100%;
}

.PhotoView-Slider__Backdrop {
    background: rgba(0, 0, 0, 0.9) !important;
}

.rv-xy-plot__axis__line {
    display: none;
}

.boxProps {
    @apply shadow-1 bg-secondary-high rounded-lg;
}

.boxProps2 {
    @apply shadow-2 bg-secondary-high rounded-lg;
}

.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-prev,
button.ant-pagination-prev,
button.ant-pagination-item-link,
.ant-pagination-item,
.ant-pagination-item-active,
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link {
    border: none !important;
}

.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-prev {
    margin-top: -2px;
}

.ant-modal-body {
    padding-bottom: 0;
}

.ant-tag-close-icon {
    vertical-align: 0.1em;
}

@media (max-width: 480px) {
    .ant-picker-panels {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media (min-width: 640px) {
    .react-tel-input .form-control {
        width: 100%;
    }
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}